[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Testing of OpenStack Barbican Key Manager
[access "refs/*"]
	owner = group user/Pavan K (pavankrao)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Pavan K (pavankrao)
	label-Verified = -1..+1 group user/Pavan K (pavankrao)
	push = group user/Pavan K (pavankrao)
	read = group user/Pavan K (pavankrao)
	rebase = group user/Pavan K (pavankrao)
	removeReviewer = group user/Pavan K (pavankrao)
	submit = group user/Pavan K (pavankrao)
[access "refs/heads/*"]
	create = group user/Pavan K (pavankrao)
	push = +force group user/Pavan K (pavankrao)
	pushMerge = group user/Pavan K (pavankrao)
	read = group user/Pavan K (pavankrao)
[access "refs/tags/*"]
	push = group user/Pavan K (pavankrao)
	push = +force group user/Pavan K (pavankrao)
